.jumbotron {
	background-color: #008b74;
	color: black;
	margin-top: 50px;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: #C4FCEF;
	margin-bottom: 10px;
	margin-top: 10px;
	color: black;
}

.card-content {
	Flex: 1 250px;
	margin-top: 10px;
}

.btn-mas {
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon {
	padding-right: 10px;
}

.card-subtitle {
	margin-top: 10px;
}