$color-primary: #AF37AF;
$color-primaryligth: #E267E2;
$color-primarydark: #800080;
$color-secondary: #00C9A7;
$color-secondarylight: #C4FCEF;
$color-secondarydark: #005A3A;
$color-backgrounddark: #E8F3F1;
$color-bottom: #E47738;
$color-text: #333333;
$font-style: raleway;
$font-styletext: roboto;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin cardtitle($color-backgrounddark, $color-secondarydark){
	color: $color-secondarydark;
	background-color: $color-backgrounddark;
}

.jumbotron {
	background-color: $color-secondary;
	color: black;
	@include margenes(50px, 0px);
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: $color-secondarylight;
	@include margenes(10px, 0px);
	color: black;
}

.card-content {
	Flex: 1 250px;
	@include margenes(10px, 0px);
}

.card-header {
	@include margenes(0px, 0px);
	@include cardtitle($color-backgrounddark, $color-secondarydark);
}

.btn-mas {
	width: 100%;
	border-radius: 0px; 
}

.footer-address-icon {
	padding-right: 10px;
}

.card-subtitle {
	@include margenes(10px, 0px);
}

.breadcrumb {
	@include margenes(10px, 10px);
	margin: 10px;
}

.tab-content {
	padding-top: 10px;
}

.title {
	color: $color-secondarydark;
	font-style: $font-style;
}

.subtitle {
	color: $color-secondarydark;
	font-style: $font-style;
}

.text {
	color: $color-text;
	font-style: $font-styletext;
}